$max-w: 24%;

@media (min-device-width:600px) {
  $max-w: 12%;
}


header {
  font-family: proxima-nova, sans-serif;
}

nav {
  display: block;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  font-family: proxima-nova, sans-serif;
}

main {
  font-family: proxima-nova, sans-serif;
  line-height: 28px;
  font-stretch: expanded;
  margin-top: 8%;
  margin-left: $max-w;
  margin-right: $max-w;
  text-align: center;
}

.topper {
    font-size: 30px;
    font-family: inherit;
    font-weight: 400;
}

.contact-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-item {
  flex-grow: 10;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
    padding: 80px;
    background: #b1b1b1;
    margin: 5px;
    color: 777777;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}
.flex-item:before {
  align-self: flex-start;
}

.para {
  font-size: 19px;
  font-weight: lighter;
}

.chunk {
  font-size: 17px;
}

main div {
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 13px;
}

.nav-link:visited {
  color: black;
}

.nav-link:hover {
  color: #b1b1b1;
}

nav .current {
  text-align: center;
  padding: 13px;
  color: #b1b1b1;
  text-decoration: none;
}

.email-click {
  color: #777777
}

.info {
  text-align: justify;
  margin-left: 10%;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content {
  padding-bottom: 2.5rem;    /* Footer height */
}

#foot div {
  margin-top: 12%;
  border-top: 1px solid #b1b1b1;
  padding-top: 10px;
  font-size: 10px;
  text-align: right;
  color: #b1b1b1;
  position: relative;
  bottom: 0;
  width: 86%;
  height: 4.5rem;            /* Footer height */
  margin-left: 7%;
  margin-right: 7%;
}

.foot-link {
  color: #b1b1b1;
  text-decoration: none;
}
